{% extends "bookings/layout.html" %}
{% load static %}

{% block body %}
<input type="hidden" id="property-id" value="{{ property.id }}">
<input type="hidden" id="notice-period-days" value="{{ property.notice_period_days }}">
<input type="hidden" id="default-min-nights" value="{{ property.default_min_nights }}">
{{ availability_data|json_script:"availability-data" }}
{{ booked_dates|json_script:"booked-dates" }}
<div class="container pt-5 pb-5">
    <div class="row g-4">
        <div class="col-lg-8">
            <div class="card">
                <div class="p-3 p-lg-5 pb-4">
                    <h2 class="card-title fw-bold">{{ property.title }}</h2>
                    <p class="card-text fw-bold fs-5 text-body-secondary"><i class="bi bi-geo-alt-fill text-danger pe-1"></i>{{ property.location }}</p>
                </div>
                <img src="{{ property.image.url }}" class="img-fluid object-fit-cover">
                <div class="p-3 p-lg-5">
                    <h4 class="fw-bold fs-4 pb-3">Sobre este alojamiento</h4>
                    <p class="card-text fs-6">{{ property.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        {% if request.user != property.owner %}
            <div class="card booking-card mb-4">
                <div class="card-header bg-warning fs-5 fw-bold text-white text-center">
                    <i class="bi bi-calendar-check me-1"></i>
                    Selecciona tu estancia
                </div>

                <div class="card-body">

                    {% if user.is_authenticated %}

                        <div
                            class="alert alert-danger mb-0 no-display"
                            id="alert-booking-date"
                            role="alert">
                        </div>

                        <input
                            type="text"
                            id="booking-range"
                            class="d-none"
                            readonly
                        >

                        <div class="booking-calendar-wrapper">
                            <div id="booking-calendar" class="booking-calendar"></div>
                        </div>

                        <input type="hidden" id="start-date">
                        <input type="hidden" id="end-date">

                        <div class="mb-0 {% if not request.GET.initial_date or not request.GET.final_date %}no-display{% endif %}" id="booking-button">
                        {% if request.GET.initial_date and request.GET.final_date %}
                            <button
                                id="confirm-booking-button"
                                class="btn btn-dark w-100 rounded-pill mt-3 mb-3 py-2">
                                Confirmar Reserva
                            </button>
                        {% endif %}
                        </div>

                    {% else %}

                        <div class="text-center">
                            <i class="bi bi-person-lock fs-1"></i>

                            <div class="py-3">
                                <h6 class="fw-bold fs-5">
                                    Inicia sesión para reservar
                                </h6>

                                <p class="text-secondary fw-light small">
                                    Necesitas una cuenta para completar el proceso.
                                </p>
                            </div>

                            <a
                                href="{% url 'login' %}"
                                class="primary-button d-block w-100 mb-3"
                                id="login-button">
                                Iniciar Sesión
                            </a>
                        </div>

                    {% endif %}

                </div>
            </div>
        {% endif %}


        <div class="card mb-5">
            <div class="card-header bg-primary fs-5 fw-bold text-white text-center">
                Lo que ofrece
            </div>

            <div class="card-body">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item d-flex justify-content-between py-4">
                        <span>Capacidad</span>

                        <div class="fw-bold">
                            <div>
                                {% if property.adults == 1 %}
                                    {{ property.adults }} adulto
                                {% else %}
                                    {{ property.adults }} adultos
                                {% endif %}
                            </div>

                            <div>
                                {% if property.children == 1 %}
                                    {{ property.children }} niño
                                {% else %}
                                    {{ property.children }} niños
                                {% endif %}
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item d-flex justify-content-between py-3">
                        <span>Habitaciones</span>
                        <div class="fw-bold">{{ property.rooms }}</div>
                    </li>

                    <li class="list-group-item d-flex justify-content-between py-3">
                        <span>Mascotas</span>

                        <div class="fw-bold">
                            {% if property.allow_pets %}
                                Sí
                            {% else %}
                                No
                            {% endif %}
                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% if request.user != property.owner %}
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="{% static 'bookings/property.js' %}"></script>
<script src="{% static 'bookings/booking.js' %}"></script>
{% endif %}
{% endblock %}